@tailwind base;
@tailwind components;
@tailwind utilities;
.button {
  @apply border border-gray-500 duration-200 hover:bg-gray-200 hover:text-black  rounded-md text-2xl  py-2 bg-gray-50  text-black placeholder-black/20 px-8;
}
.button2 {
  @apply border-2 border-black rounded-2xl shadow-md px-6 py-2  hover:bg-gray-50 duration-200;
}

.flex-for-reg {
  @apply flex gap-10 items-center;
}

.home-btn1 {
  @apply bg-[#0277BD] border border-black duration-200 hover:bg-white hover:text-black text-white rounded-md text-2xl font-bold  py-2;
}
.home-btn2 {
  @apply bg-gray-500 border border-gray-500 duration-200 hover:bg-gray-200 hover:text-black text-white rounded-md text-xl  py-2;
}
.app-nav {
  @apply bg-gray-500 border border-gray-500 duration-200 hover:bg-white hover:text-black text-white;
}
.search-btn {
  @apply border border-gray-500 duration-200 hover:bg-gray-200 hover:text-black  rounded-md text-xl  py-2 bg-gray-50  text-black placeholder-black/20 px-8;
}
.activeLink {
  @apply text-green-400 px-8 h-[5rem] duration-200;
}
.normalLink {
  @apply px-8 h-[5rem] duration-200 hover:text-black;
}
.layout {
  @apply text-black shadow-lg text-xl font-semibold;
}
.text {
  @apply text-base md:text-2xl;
}
.text2 {
  font-weight: 900;
}

.nav2 {
  @apply bg-white border-2 shadow-lg flex flex-col justify-start w-screen fixed md:relative  md:w-[20%] gap-10 h-screen overflow-hidden py-6 px-2;
}
.link2 {
  @apply font-bold text-xl md:text-lg font-Rubik;
}
.link22 {
  @apply font-normal text-xl md:text-lg font-Rubik;
}
.activeLinkDashboard2 {
  @apply text-green-400 link22 translate-x-3 font-bold;
}
.normalLinkDashboard2 {
  @apply duration-200  link22 translate-x-3;
}
.contentAddUser2 {
  @apply w-[90%] h-[90%] rounded-3xl p-12  bg-white font-bold font-Rubik  text-2xl md:text-lg shadow-lg border-2;
}
.inputAddUser2 {
  @apply border-b-2  border-black outline-none;
}
.bg-gray-800 {
  background-color: #2d3748;
}

.text-white {
  color: #fff;
}

.hidden {
  display: none;
}

.rotate-180 {
  transform: rotate(180deg);
}

.animation-slide-down {
  animation: slide-down 0.3s ease-out;
}

@keyframes slide-down {
  from {
    transform: translateY(-8px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.hamburger {
  cursor: pointer;
  width: 32px;
  height: 32px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  position: absolute;
  width: 32px;
  height: 3px;
  top: 0;
  left: 0;
  background: #9c9aa6;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
@layer components {
  .input-field {
    @apply border w-full px-4 py-2;
  }
  .sub-btn {
    @apply border text-white text-sm md:text-lg  bg-sky-500 rounded-xl shadow-md  px-8 py-3  text-center duration-300 hover:bg-sky-200 tracking-wide hover:text-black/100 w-[8rem];
  }
  .label-form {
    @apply block tracking-wide text-gray-700 text-sm md:text-lg  mb-2;
  }
  .input-form {
    @apply appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white duration-300 focus:border-gray-500;
    transition-property: background-color;
  }
  .main-form {
    @apply mx-auto my-10 border-2 rounded-xl px-10 py-4 border-sky-500 pt-10  w-[95%] mx-auto  md:w-1/2 md:mx-auto;
  }
  .gen-btn {
    @apply border text-white text-sm md:text-lg  bg-sky-500 rounded-xl shadow-md  px-8 py-3 my-10 text-center duration-300 hover:bg-sky-200 tracking-wide hover:text-black/100 w-[12rem];
  }
}
.vertical-header {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.horizontal-header {
  white-space: nowrap;
}

.table {
  width: 100%;
}

th,
td {
  border-collapse: collapse;
}

th {
  font-size: 14px;
}

td {
  font-size: 16px;
}
.vertical {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.horizontal {
  text-align: center;
  white-space: nowrap;
}
